/*
ENTÊTE
====*/

/* Image de fond */
.banner {
    /* center center pour centrer en axe x et y et fixed pour fixer l'image et no-repeat */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/Entete.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 1200px;
    width: auto;
}

/*
SECTION CARROUSEL
*/

/* Conteneur */
.carrousel {
    background-image: url(/assets/images/Fondcarrousel.jpg);
    background-position: center;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* Div du chef */
.boss {
    flex-direction: column;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    width: 30%;
}
/* Hover pour la div */
.content {
    opacity: 0;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}
.boss .content:hover {
    opacity: 1;
}
.boss .content .hover-text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.boss .content:hover .hover-text {
    opacity: 1;
    transform: translateY(350px);
    -webkit-transform: translateY(350px);
}

/* Carrousel */
.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 500px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.555);
}
.slides input {
    display: none;
}
.slide {
    width: 20%;

    transition: 2s;
}
.slide img {
    width: 100%;
    height: 100%;
    background-position: center;
}
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid #745d20;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #745d20;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #745d20;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #745d20;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #745d20;
}

.slides h3,
.slides p {
    padding-left: 10%;
}

/*
RESPONSIVE
*/

@media screen and (max-width: 767px) {
    /*
        ENTÊTE
        */
    .banner {
        height: 700px;
        background-position: 60%;
    }
    /*
        SECTION CARROUSEL
        */
    .carrousel {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 900px;
    }
    /* Le chef */
    .boss {
        width: 90%;
    }
    .boss .content:hover .hover-text {
        font-size: small;
        transform: translateY(350px);
        -webkit-transform: translateY(350px);
    }
    /* Carousel */
    .slider {
        margin: 3%;
        width: 80%;
    }
    .slide img {
        display: none;
    }
    .slides h3,
.slides p {
    text-align: center;
}
    .navigation-manual,
    .navigation-auto {
        display: none;
    }
    .carousel-caption h5,
    .carousel-caption p {
        background-color: rgba(255, 255, 255, 0.439);
        color: black;
        margin: 0;
        font-size: smaller;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /*
        ENTÊTE
        */
    .banner {
        height: 700px;
        background-position: 60%;
    }
    /*
        SECTION CARROUSEL
        */
    .carrousel {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
    }
    /* Le chef */
    .boss {
        width: 90%;
        margin-bottom: 3%;
    }
    .boss .content:hover .hover-text {
        transform: translateY(350px);
        -webkit-transform: translateY(350px);
    }
    /* Carousel */
    .carousel-caption h5,
    .carousel-caption p {
        background-color: rgba(255, 255, 255, 0.439);
        color: black;
        margin: 0;
        font-size: smaller;
    }
}
